{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block content %}
    <section class="portlet login-box-top">
        <header>
            <h2 class="ac">Sisquiropraxia Login</h2>
        </header>
        <section>
            {% if form.errors %}
                <div class="message info">{{ form.errors }}</div>
            {% endif %}
            <form id="form" class="has-validation" action="{% url django.contrib.auth.views.login %}" method="post" style="margin-top: 30px">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <p style="margin-bottom: 30px">
                    <input type="text" id="username" class="full" value="" name="username" required="required" placeholder="Usuario" />
                </p>
                <p style="margin-bottom: 30px">
                    <input type="password" id="password" class="full" value="" name="password" required="required" placeholder="Senha" />
                </p>
                <p class="clearfix">
                    <span class="fl" style="line-height: 23px;">
                        <label class="choice" for="remember">
                            <input type="checkbox" id="id_remember_me" class="" value="1" name="remember_me"/>
                            Lembre-se de mim
                        </label>
                    </span>

                    <button class="fr" type="submit">Acessar</button>
                </p>
            </form>
            <footer class="ac">
                <a href="{% url auth_password_reset %}" class="button">{% trans "Esqueci minha senha" %}</a>
            </footer>
        </section>
    </section>
{% endblock %}

{% block extra_javascript %}
    $(document).ready(function() {
    
        $.tools.validator.localize("pt-br", {
            ':email'  		: 'Email inválido',
            ':number' 		: 'Arvon on oltava numeerinen',
            '[max]'	 		: 'Arvon on oltava pienempi, kuin $1',
            '[min]'	 		: 'Arvon on oltava suurempi, kuin $1',
            '[required]' 	: 'Campo obrigatório'
        });
        
        $.tools.validator.fn("#username", function(input, value) {
            return value!='Username' ? true : {     
                en: "Este campo é obrigatório."
            };
        });
        
        $.tools.validator.fn("#password", function(input, value) {
            return value!='Password' ? true : {     
                en: "Este campo é obrigatório."
            };
        });

        $("#form").validator({
            lang: 'pt-br',
            position: 'bottom left',
            messageClass:'form-error',
            message: '<div><em/></div>' // em element is the arrow
        });
    });
{% endblock %}