{% extends "site_base.html"%}
{% load i18n %}

{% block extra_head %}
    <!-- DATATABLES CSS -->
		<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}lib/datatables/css/cleanslate.css" />
	<!-- DATATABLES CSS END -->
{% endblock %}

{% block content %}
    <section class="portlet grid_12 leading">
        <header>
            <h2>{% trans "Dados das consultas" %}</h2>
        </header>
        <section>
            <h5>{% trans "Diagnóstico" %}:</h5>
            <p>{{ diagnostic }}</p>
            <h5>{% trans "Data" %}:</h5>
            <p>{{ appointment_date }}</p>
            <h5>{% trans "Quantidade de seções recomendadas pelo médico" %}:</h5>
            <p>{% trans "Cama termo-massageadora" %}: {{ bed_doc_advice }}</p>
            <p>{% trans "Quiropraxia" %}: {{ quiro_doc_advice }}</p>
            
            <h5>{% trans "Seções" %}</h5>
            {% for bed_section in bed_sections %}
                <p>{% trans "Diagnóstico" %}: {{ appointment.diagnostic }}</p>
            {% empty %}
                <p>
                    {% trans "Nenhuma seção de cama termo-massageadora agendada. Para agendar clique " %}
                    <a id="bed_link" href="#">aqui</a>
                </p>
            {% endfor %}
            
            {% for quiro_section in quiro_sections %}
                <p>{% trans "Diagnóstico" %}: {{ appointment.diagnostic }}</p>
            {% empty %}
                <p>
                    {% trans "Nenhuma seção de quiropraxia agendada. Para agendar clique " %}
                    <a id="quiro_link" href="#">aqui</a>
                </p>
            {% endfor %}
        </section>
    </section>
{% endblock %}

{% block extra_javascript %}
	<!-- DATATABLES -->
    <script type="text/javascript" src="{{ STATIC_URL }}lib/datatables/js/jquery.dataTables.js"></script> 
    <script type="text/javascript"> 
        $(document).ready(function() {
            $('#example').dataTable( {
                "sPaginationType": "full_numbers",
				"oLanguage": {
					"sLengthMenu": "Exibir _MENU_ registros por página",
					"sZeroRecords": "Nenhum registro encontrado - desculpe",
					"sInfo": "Exibindo _START_ de _END_ de _TOTAL_ registros",
					"sInfoEmpty": "Exibindo 0 de 0 de 0 registros",
					"sInfoFiltered": "(filtrando de _MAX_ total de registros)"
				}
            } );
        } );
    </script> 
    <!-- DATATABLES END -->
{% endblock %}