{% extends "site_base.html"%}
{% load i18n %}

{% block extra_head %}
    <!-- DATATABLES CSS -->
		<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}lib/datatables/css/cleanslate.css" />
	<!-- DATATABLES CSS END -->
{% endblock %}

{% block content %}
    <section>
        <header class="container_12 clearfix">
        </header>
        <section class="container_12 clearfix">
            <div class="grid_12">
                <div id="demo" class="clearfix"> 
                    <table class="display" id="example"> 
                        <thead> 
                            <tr> 
                                <th>{% trans "Nome" %}</th> 
                                <th>{% trans "CPF" %}</th>
								<th>{% trans "CRM" %}</th>
                                <th>{% trans "Nascimento" %}</th> 
                                <th>{% trans "Adesão" %}</th> 
                                <th>{% trans "Telefone" %}</th> 
                            </tr> 
                        </thead> 
                        <tbody>
							{% for doctor in doctors %}
								<tr class="gradeA"> 
									<td>{{ doctor.user.username }}</td> 
									<td class="center">{{ doctor.cnpf }}</td>
									<td class="center">{{ doctor.crm }}</td>
									<td class="center">{{ doctor.birthday }}</td> 
									<td class="center">{{ doctor.user.date_joined }}</td> 
									<td class="center">{{ doctor.phone.0 }}</td> 
								</tr>
							{% endfor %}
                        </tbody> 
                    </table>
					{% if user.get_profile.user_type == '4' or user.is_superuser %}
						<a href="{% url add_doctor %}">{% trans "Adicionar Parceiro" %}</a>
					{% endif %}
                </div>
            </div>
        </section>
    </section>
{% endblock %}

{% block extra_javascript %}
	<!-- DATATABLES -->
    <script type="text/javascript" src="{{ STATIC_URL }}lib/datatables/js/jquery.dataTables.js"></script> 
    <script type="text/javascript"> 
        $(document).ready(function() {
            $('#example').dataTable( {
                "sPaginationType": "full_numbers"
            } );
        } );
    </script> 
    <!-- DATATABLES END -->
{% endblock %}