{% extends "site_base.html"%}
{% load i18n %}

{% block extra_head %}
    <!-- DATATABLES CSS -->
		<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}lib/datatables/css/cleanslate.css" />
	<!-- DATATABLES CSS END -->
{% endblock %}

{% block content %}
    <section>
        <header class="container_12 clearfix">
        </header>
        <section class="container_12 clearfix">
            <div class="grid_12">
                <div id="demo" class="clearfix"> 
                    <table class="display" id="example"> 
                        <thead> 
                            <tr> 
                                <th>{% trans "Clínica" %}</th>
                                <th>{% trans "Rua" %}</th>
                                <th>{% trans "Responsável" %}</th>
								<th>{% trans "Ações" %}</th> 
                            </tr> 
                        </thead> 
                        <tbody>
							{% for clinic in object_list %}
								<tr class="gradeA"> 
									<td>{{ clinic.name }}</td>
									<td class="center">{{ clinic.address.street }}</td>
                                    <td class="center">{{ clinic.companyadmin_set.all.0.user.get_full_name }}</td> 
									<td class="center">
										<a href="#" id="" name="">excluir</a>
									</td>
								</tr>
							{% endfor %}
                        </tbody> 
                    </table>
					<a href="{% url add_clinic %}">{% trans "Adicionar Nova Clínica" %}</a>
                </div>
            </div>
        </section>
    </section>
{% endblock %}

{% block extra_javascript %}
	<!-- DATATABLES -->
    <script type="text/javascript" src="{{ STATIC_URL }}lib/datatables/js/jquery.dataTables.js"></script> 
    <script type="text/javascript"> 
        $(document).ready(function() {
            $('#example').dataTable( {
                "sPaginationType": "full_numbers",
				"oLanguage": {
					"sLengthMenu": "Exibir _MENU_ registros por página",
					"sZeroRecords": "Nenhum registro encontrado - desculpe",
					"sInfo": "Exibindo _START_ de _END_ de _TOTAL_ registros",
					"sInfoEmpty": "Exibindo 0 de 0 de 0 registros",
					"sInfoFiltered": "(filtrando de _MAX_ total de registros)"
				}
            } );
        } );
    </script> 
    <!-- DATATABLES END -->
{% endblock %}