{% load i18n %}
<!DOCTYPE html>
<!--[if IE 7 ]>   <html lang="en" class="ie7 lte8"> <![endif]--> 
<!--[if IE 8 ]>   <html lang="en" class="ie8 lte8"> <![endif]--> 
<!--[if IE 9 ]>   <html lang="en" class="ie9"> <![endif]--> 
<!--[if gt IE 9]> <html lang="en"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
{% block head %}
<meta charset="utf-8">
<!--[if lte IE 9 ]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->

<!-- iPad Settings -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" /> 
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, width=device-width">
<!-- iPad End -->

<title>{% block title %}{% trans "SISQUIPRAXIA" %}{% endblock %}</title>

<link rel="shortcut icon" href="favicon.ico">

<!-- iOS ICONS -->
<link rel="apple-touch-icon" href="touch-icon-iphone.png" />
<link rel="apple-touch-icon" sizes="72x72" href="touch-icon-ipad.png" />
<link rel="apple-touch-icon" sizes="114x114" href="touch-icon-iphone4.png" />
<link rel="apple-touch-startup-image" href="touch-startup-image.png">
<!-- iOS ICONS END -->

<!-- STYLESHEETS -->

<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/reset.css" />
<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/grids.css" />
<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/style.css" />
<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/jquery.uniform.css" />
<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/themes/lightblue/style.css" />

<style type = "text/css">
    #loading-container {position: absolute; top:50%; left:50%;}
    #loading-content {width:800px; text-align:center; margin-left: -400px; height:50px; margin-top:-25px; line-height: 50px;}
    #loading-content {font-family: "Helvetica", "Arial", sans-serif; font-size: 18px; color: black; text-shadow: 0px 1px 0px white; }
    #loading-graphic {margin-right: 0.2em; margin-bottom:-2px;}
    #loading {background-color: #eeeeee; height:100%; width:100%; overflow:hidden; position: absolute; left: 0; top: 0; z-index: 99999;}
</style>

<!-- STYLESHEETS END -->

<!--[if lt IE 9]>
<script src="{{ STATIC_URL }}js/html5.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/selectivizr.js"></script>
<![endif]-->

{% block extra_head %}{% endblock %}

{% endblock %}
</head>
<body style="overflow: hidden;">
    <div id="loading"> 

        <script type = "text/javascript"> 
            document.write("<div id='loading-container'><p id='loading-content'>" +
                           "<img id='loading-graphic' alt="" width='16' height='16' src='{{ STATIC_URL }}images/ajax-loader-eeeeee.gif' /> " +
                           "Loading...</p></div>");
        </script> 

    </div> 

    {% block header %}
    <div id="wrapper">
        <header>
            <h1><a href="/">Sisquiropraxia</a></h1>
            <nav>
				<ul id="main-navigation" class="clearfix">
                    {% if user.is_superuser %}
                        <li class="dropdown active"> 
                            <a href="#a">Administração</a> 
                            <ul>
                                <li class="dropdown"> 
                                    <a href="#ab">Paciente</a> 
                                    <ul> 
                                        <li class="current"><a href="{% url add_client %}">Cadastrar</a></li> 
                                        <li><a href="{% url list_client %}">Pesquisar</a></li>
                                    </ul> 
                                </li> 
                                <li class="dropdown"> 
                                    <a href="#">Médico</a> 
                                    <ul> 
                                        <li><a href="{% url add_doctor %}">Cadastrar</a></li> 
                                        <li><a href="{% url list_doctor %}">Pesquisar</a></li> 
                                    </ul> 
                                </li>
                                <li class="dropdown"> 
                                    <a href="#">Recepcionista</a> 
                                    <ul> 
                                        <li><a href="{% url add_hostess %}">Cadastrar</a></li> 
                                        <li><a href="{% url list_hostess %}">Pesquisar</a></li> 
                                    </ul> 
                                </li> 
                            </ul> 
                        </li> 
                    {% endif %}
                    <li class="fr dropdown"> 
                        <a href="#" class="with-profile-image"><span><img alt="" src="{{ STATIC_URL }}images/profile-image.png" /></span>{{ user }}</a> 
                        <ul> 
                            <li><a href="#">{% trans "Configurações" %}</a></li> 
                            <li><a href="#">{% trans "Usuários" %}</a></li> 
                            <li><a href="#">{% trans "Grupos" %}</a></li> 
                            <li><a href="{% url django.contrib.auth.views.logout %}">{% trans "Sair" %}</a></li> 
                        </ul>
                    </li> 
				</ul> 
            </nav>
        </header>
        
        <section>
        {% endblock %}
            <!-- Sidebar -->
        {% block sidebar %}
            <aside>
                <nav>
                    <ul>
                        <!-- Administrator -->
                        <li class='{{ active_principal_sidemenu }}'><a href="/">Principal</a></li>
                        {% if user.get_profile.user_type == '0' or user.is_superuser %}
                            <li class='{{ active_clinic_sidemenu }}'><a href="{% url list_clinic %}">Clínica</a></li>
                            <li class='{{ active_service_sidemenu }}'><a href="{% url list_service %}">Serviço</a></li>
                            <li class='{{ active_table_sidemenu }}'><a href="{% url list_table %}">Tabela</a></li>
                            <li class='{{ active_table_service_sidemenu }}'><a href="{% url list_table_service %}">Tabela/Serviço</a></li>
                            <li class='{{ active_client_sidemenu }}'><a href="{% url list_client %}">Cliente</a></li>
                            <li class='{{ active_doctor_sidemenu }}'><a href="{% url list_doctor %}">Parceiro</a></li>
                            <li class='{{ active_hostess_sidemenu }}'><a href="{% url list_hostess %}">Recepcionista</a></li>
                            <li class='{{ active_agenda_sidemenu }}'><a href="{% url calendar %}">Agenda</a></li>
                        {% endif %}
                        
                        <!-- Doctor -->
                        {% if user.get_profile.user_type == '1' %}
                            <li class='{{ active_client_sidemenu }}'><a href="{% url list_client %}">Paciente</a></li>
                        {% endif %}
                        
                        <!-- Client -->
                        {% if user.get_profile.user_type == '2' %}
                            <li class='{{ active_client_sidemenu }}'><a href="{% url list_client %}">Paciente</a></li>
                        {% endif %}
                        
                        <!-- Hostess -->
                        {% if user.get_profile.user_type == '3' %}
                            <li class='{{ active_doctor_sidemenu }}'><a href="{% url list_doctor %}">Médico</a></li>
                            <li class='{{ active_client_sidemenu }}'><a href="{% url list_client %}">Paciente</a></li>
                            <li class='{{ active_agenda_sidemenu }}'><a href="{% url calendar %}">Agenda</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </aside>

            <!-- Sidebar End -->
        {% endblock %}
        
            <section>
                <header class="container_12 clearfix">
                    <div class="grid_12">
                        <h1>{{ title }}</h1>
                    </div>
                </header>
                
                <!--[if !IE]>start system messages<![endif]-->
                {% block system_messages %}
                    {% if messages %}
                        <section>
                        {% for message in messages %}
                            <div class="{{ css_message }}"> 
                                <h3>Mensagem!</h3> 
                                <p> {{ message }}</p> 
                            </div>
                        {% endfor %}
                        </section>
                    {% endif %}
                {% endblock %}
                <!--[if !IE]>end system messages<![endif]-->
                
                {% block content %}
                <section class="container_12 clearfix">
                
                    <section class="grid_12"> 
                        <div class="message info">
                            <h3>Olá {{ user.first_name }}</h3> 
                            <p> 
                                Lorem ipsum dolor sit amet
                            </p> 
                            <ol> 
                                <li>Lorem ipsum</li> 
                                <li>dolor</li> 
                                <li>sit amet</li> 
                            </ol>
                        </div>
                    </section> 
                
                    <section class="portlet grid_6 leading"> 
 
                        <header>
                            <h2>{% trans "Estatísticas" %}</h2> 
                        </header>
                        
                        <section>
                            <table class="full"> 
 
                                <tbody> 
 
                                    <tr> 
 
                                        <td>{% trans "Total de indicações" %}</td> 
 
                                        <td class="ar"><a href="#">30</a></td> 
 
                                        <td class="ar">1,498.50 $</td> 
 
                                    </tr> 
 
                                    <tr> 
 
                                        <td>{% trans "Indicações concluídas" %}</td> 
 
                                        <td class="ar"><a href="#">25</a></td> 
 
                                        <td class="ar">1,248.75 $</td> 
 
                                    </tr> 
 
                                    <tr> 
 
                                        <td>{% trans "Indicações não concluídas" %}</td> 
 
                                        <td class="ar"><a href="#">5</a></td> 
 
                                        <td class="ar">249.75 $</td> 
 
                                    </tr>
 
                                </tbody> 
 
                            </table>
                            
                        </section>
                        
                    </section> 
 
                    <section class="portlet grid_6 leading"> 

                        <header>
                            <h2>Financeiro</h2>
                        </header>

                        <section>
                            <table class="full"> 
 
                                <tbody> 
 
                                    <tr> 
 
                                        <td>a receber (mensal)</td> 
 
                                        <td class="ar"><a href="#">{{ current_month_quant_clients }}</a></td>
 
                                        <td class="ar">{{ current_month_commission }}</td>
 
                                    </tr> 
 
                                    <tr> 
 
                                        <td>recebido (mês passado)</td> 
 
                                        <td class="ar"><a href="#">{{ last_month_quant_clients }}</a></td> 
 
                                        <td class="ar">R$ {{ last_month_comission }}</td> 
 
                                    </tr> 
 
                                    <tr> 
 
                                        <td>Signups This Year</td> 
 
                                        <td class="ar"><a href="#">30</a></td> 
 
                                        <td class="ar"></td> 
 
                                    </tr> 
 
                                    <tr> 
 
                                        <td>Sales This Year</td> 
 
                                        <td class="ar"><a href="#">25</a></td> 
 
                                        <td class="ar">1,248.75 $</td> 
 
                                    </tr> 
 
                                </tbody> 
 
                            </table>
                            
                        </section>

                    </section> 
 
                    <div class="clear"></div>

                    <section class="portlet grid_6 leading"> 
 
                        <header>
                            <h2>
                                {% trans "Estatísticas de comparecimento" %}:
                                <a href="{% url list_client %}">{{ total_clients }}</a>
                            </h2>
                        </header>

                        <section>
                            <table class="full">
 
                                <tbody> 
 
                                    <tr> 
 
                                        <td>{% trans "Compareceram" %}</td> 
 
                                        <td style="width:70%"><div id="progress1" class="progress"><span style="width: {{ show_up_percent }}%;"><b>{{ show_up_percent }}%</b></span></div></td> 
 
                                        <td style="width:40px" class="ar">{{ show_up_quant }}/{{ total_clients }}</td> 
 
                                    </tr> 
 
                                    <tr> 
 
                                        <td>{% trans "Pendente" %}</td> 
 
                                        <td><div class="progress"><span style="width: {{ lost_percent }}%;"><b>{{ lost_percent }}%</b></span></div></td> 
 
                                        <td class="ar">{{ lost_quant }}/{{ total_clients }}</td> 
 
                                    </tr>
                                </tbody> 
 
                            </table>
                        </section>
                    </section>
 
                    <section class="portlet grid_6 leading"> 

                        <header>
                            <h2>Profits, Expenses and Sales - <a href="http://www.jqplot.com/tests/" target="_blank" rel="nofollow">More Examples</a></h2>
                        </header>

                        <section>
                            <div class="jqPlot" id="chart2" style="width:100%;height:160px;"></div>
                        </section>

                    </section> 
                    
                    <div class="clear"></div>
                </section>
                <footer class="container_12 clearfix">
                    <div class="grid_12">
                        Copyright &copy; 2011. Theme by <a target="_blank" href="http://themeforest.net/user/vivantdesigns?ref=vivantdesigns">VivantDesigns</a>
                    </div>
                </footer>
            </section>

            <!-- Main Section End -->
        {% endblock %}
        </section>
        </section>
    </div>
    
    {% block main_javascript %}
    <!-- MAIN JAVASCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.js"></script>
    <script>window.jQuery || document.write("<script src='{{ STATIC_URL }}js/jquery.min.js'>\x3C/script>")</script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tools.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.uniform.min.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{{ STATIC_URL }}js/PIE.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ie.js"></script>
    <![endif]-->

    <script type="text/javascript" src="{{ STATIC_URL }}js/global.js"></script>
    <!-- MAIN JAVASCRIPTS END -->
    {% endblock %}

    {% block loading_javascript %}
    <!-- LOADING SCRIPT -->
    <script>
    $(window).load(function(){
        $("#loading").fadeOut(function(){
            $(this).remove();
            $('body').removeAttr('style');
        });
    });
    </script>
    <!-- LOADING SCRIPT -->
    {% endblock %}
    
    {% block extra_javascript %}{% endblock %}
</body>
</html>